---
import Header from "../components/organism/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <main></main>
  </body>
</html>

<style>
  body {
    margin: 0;
    padding: 0;
  }
  .btnStyle {
    width: 5rem;
    padding: 1rem;
    color: black;
    background-color: orange;
    border-radius: 30px;
  }
</style>
